/* -----Color is # ----- */

#e67e22

/* ----- Basic Setup ----- */

* {
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #555;
	max-height: 100vh;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	margin: 0;
}

footer {
	display: block;
	float: left;
	width: 100%;
	background-color: #333;
	margin-top: 30px;
	padding: 30px;
	text-align: center;
	color: #fff;
	font-size: 80%;
}

/* ----- Global ----- */

.row {
	max-width: 1400px;
	margin: 0 auto;
}

/* ----- Headings ----- */

h1, h2, h3 {
	font-weight: 400;
}

h1 {
	font-size: 240%;
}

h2 {
	font-size: 180%;
}

h3 {
	font-size: 110%;
}

p {
	text-align: left;
}

/* ----- Main Headers ----- */

#main-header-home-page {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(showcase_img/home_showcase.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(showcase_img/home_showcase.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}

#main-header-about-page {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(showcase_img/about_showcase.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(showcase_img/about_showcase.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}

#main-header-contact-page {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(showcase_img/contact_showcase.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(showcase_img/contact_showcase.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}

/* ----- Main Nav ----- */

.main-nav {
	float: right;
	list-style: none;
	margin-top: 40px;
	margin-right: 50px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
	font-size: 130%;
	font-weight: bold;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0;
	color: #e67e22;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
	-webkit-transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #e67e22;
}

/* ----- Page Headings ----- */

#main-heading {
	position: absolute;
	font-size: 270%;
	font-weight: bold;
	color: #fff;
	width: 1140px;
	top: 50%;
	left: 50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#my-adventures {
	position: absolute;
	font-size: 200%;
	font-weight: bold;
	color: #fff;
	width: 1140px;
	top: 80%;
	left: 50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#about-me {
	position: absolute;
	font-size: 200%;
	font-weight: bold;
	color: #fff;
	width: 1140px;
	top: 80%;
	left: 50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#contact-me {
	position: absolute;
	font-size: 200%;
	font-weight: bold;
	color: #fff;
	width: 1140px;
	top: 80%;
	left: 50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#blog-heading {
	position: absolute;
	font-size: 150%;
	font-weight: bold;
	color: #fff;
	width: 1140px;
	top: 50%;
	left: 50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* ----- My Adventures (Home page)------ */



.container {
	
	width: 90%;
	margin: 20px auto;
	/*
	border: 2px solid #d6d6d6;
	*/
}

.wrapper {
	display: grid;
	/* 
	grid-template-columns: 1fr 1fr 1fr;
	*/
	grid-template-columns: repeat(3, 1fr);
}

.main-photo {
	display: inline-block;
	align-items: center;
	/*
	background-color: #e7e3d8;
	*/
	
	border: 2px solid #d6d6d6;
	
}

.main-photo img {
	max-width: 100%;
}

.caption {
	text-align: center;
}

.main-photo a {
	text-decoration: none;
}

/*
.main-photo img {
	width: 325px;
	height: 243px;
}
*/

#read-more {
	background-color: #e67e22;
	border: 1px solid #e67e22;
	color: #fff;
	margin-right: 15px;
	-webkit-transition: background-color 0.5s, border 0.5s, color 0.5s;
	transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.read-more-btn {
	cursor: pointer;
	color: #fff;
	border-radius: 5px;
	margin: 0;
	padding: 10px;	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;  
    height: 50px;
	width: 100%;
    background: rgba(0, 0, 0, 0.7);
	
	text-align: center;
    align-items: center;
	justify-content: center;
    transition: opacity 0.2s ease-in;
	opacity: 0;
}

.main-photo:hover .read-more-btn {
	opacity: 1;
}

/* ----- Forms ----- */

.section-forms {
	text-align: left;
	margin: 60px 0 30px 0
}

.forms-heading, h3{
	font-size: 110%;
	font-weight: bold;
	text-align: center;
}

.contact-form {
	width: 60%;
	margin: 30px auto;
}

input[type=text], input[type=email], select, textarea {
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

textarea {
	height: 100px;
}

input[type=checkbox] {
	margin: 10px, 5px, 10px, 0;
}

/* Buttons and Inputs */


.btn:link,
.btn:visited,
input[type=submit] {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	background-color: #e67e22;
	border: 1px solid #e67e22;
	color: #fff;
	margin-right: 15px;
	-webkit-transition: background-color 0.5s, border 0.5s, color 0.5s;
	transition: background-color 0.5s, border 0.5s, color 0.5s;
}

/* About Me */

.about-me-container {
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.my-story {
	border:1px solid #000;
	margin: 40px;
	padding: 10px 50px;
}


/* ----- My Adventures (Blog page)------ */


.blog-container {
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.figure-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #e7e3d8;
	border: 2px solid #d6d6d6;
	padding: 0 40px;
}

/*
.figure-container img {
	width: 425px;
	height: 343px;
}
*/

.fotorama {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.figure-caption {
	text-align: center;
}

.read-more-btn {
	
}

/* Media queries */

@media (max-width: 923px) {
	.wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
	#main-heading {
		font-size: 200%;
	}
	#my-adventures {
		font-size: 175%;
	}
	#about-me {
		font-size: 160%;
	}
	#contact-me {
		font-size: 160%;
	}
	.main-nav li {
		font-size: 120%;
	}
}

@media (max-width: 600px) {
   .wrapper {
	   grid-template-columns: 1fr;
   }
   #main-heading {
	   font-size: 170%;
   }
   #my-adventures {
	   font-size: 135%;
   }
   #about-me {
	   font-size: 120%;
   }
   #contact-me {
	   font-size: 120%;
   }
   .main-nav li {
	   font-size: 100%;
   }
   .main-photo img {
	width: 440px;
	
}
}


